<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>URL</th>
          <th>LC Daily</th>
          <th>NC 150</th>
          <th>Last Run</th>
          <th>Updated</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (webhook of (webhooks$ | async); track webhook['docID']) {
          {{ hello(webhook) }}
          <tr>
          @if (user$ | async; as user) {
            @if (webhook['name'] && webhook['name'].length > 0){
            <td>
                {{webhook['name']}}
            </td>
            }
            <td>
              {{webhook['url']}}
            </td>
            <td>
              {{webhook['daily']}}
            </td>
            <td>
              {{webhook['neetcode150']}}
            </td>
            <td>
              {{webhook['lastRun']}}
            </td>
            <!-- <td>
              {{webhook['text']}} 
            </td> -->
            <td>{{webhook['timestamp'].toDate().toLocaleTimeString()}}</td>
            <td>
              <!-- <button class="btn btn-edit" (click)="{}">Edit</button> -->
              <button class="btn btn-delete" (click)="this.deleteWebhook(webhook['docID'])">Delete</button>
            </td>
          
          }
          </tr>
        }
        <tr>
          <td>
            <input type="text" placeholder="Name" [(ngModel)]="this.name"/>
          </td>
          <td>
            <input type="text" placeholder="URL" [(ngModel)]="this.url"/>
          </td>
          <td>
            <input type="checkbox" [(ngModel)]="this.daily"/>
          </td>
          <td>
            <input type="number" min="-1" max="150" [(ngModel)]="this.neetcode150"/>
          </td>
          <td>
            <input type="text" disabled/>
          </td>
          <td>
            <input type="text" disabled/>
          </td>
  
          <td>
            <button class="btn btn-save" (click)="this.sendTextWebhook()">Save</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>